<!--
  Generated template for the CreateItemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="lightblue">
      <ion-title>Edit Item</ion-title>
      <ion-buttons end>
          <button ion-button (click)="updateitem()">
          Update
        </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-card>
        <ion-card-content>
            <ion-label color="lightblue">Type</ion-label>     
                        <ion-row radio-group [(ngModel)]="sexe">
                            <ion-col>
                              <ion-item>
                                <ion-label>Goods</ion-label>
                                <ion-radio value="goods"></ion-radio>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item>
                               <ion-label>Services</ion-label>
                                <ion-radio value="services"></ion-radio>
                              </ion-item>
                            </ion-col>
                          </ion-row>
             <div>             
            <ion-item>
                <ion-label color="red">Item Name</ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Name" value={{this.value_item_name}} [(ngModel)]="name">{{this.value_item_name}}</ion-input>
            </ion-item>
  
            <ion-item>
                <ion-label color="lightblue">Unit</ion-label>  
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Select or Type to add" value={{this.value_unit}} [(ngModel)]="units">{{this.value_unit}}</ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="lightblue">Quantity</ion-label>  
          </ion-item>
          <ion-item>
              <ion-input type="text" placeholder="Quantity" value={{this.value_item_quantity}} [(ngModel)]="qty">{{this.value_item_quantity}}</ion-input>
          </ion-item>
          </div>
        </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-content>
            <ion-item>
                <ion-label>Sales Information</ion-label>  
                <ion-toggle [(ngModel)]="check1"></ion-toggle>
            </ion-item>
              
              <div *ngIf="check1">
                      <ion-label color="red">Rate</ion-label>
                      <ion-input type="text" placeholder="Enter Rate" value={{this.value_sale_rate}} [(ngModel)]="sale_rate">{{this.value_sale_rate}} </ion-input>
                  
                      <ion-label color="red">Account</ion-label>
                      <ion-input type="text" placeholder="Select Account" value={{this.value_sale_rate}} [(ngModel)]="sale_account">{{this.value_sale_rate}}</ion-input>
                  
                  
                      <ion-label color="lightblue">Tax</ion-label>
                      <ion-input type="text" placeholder="None" value={{this.value_sale_rate}} [(ngModel)]="sale_tax"></ion-input>
                  
                  
                      <ion-label color="lightblue">Description</ion-label>
                      <ion-input type="text" placeholder="" value={{this.value_sale_desc}} [(ngModel)]="sale_desc">{{this.value_sale_desc}}</ion-input>
                  
                </div>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
            <ion-card-content>
              <ion-item>
                  <ion-label>Purchase Information</ion-label>  
                  <ion-toggle [(ngModel)]="purchaseinformation"></ion-toggle>
              </ion-item>
                
                <div *ngIf="purchaseinformation">
                        <ion-label color="red">Purchase Rate</ion-label>
                        <ion-input type="text" placeholder="Enter Rate" value={{this.value_purchase_rate}} [(ngModel)]="purchase_rate">{{this.value_purchase_rate}}</ion-input>
                    
                        <ion-label color="red">Account</ion-label>
                        <ion-input type="text" placeholder="Select Account" value={{this.value_purchase_desc}} [(ngModel)]="purchase_account">{{this.value_purchase_desc}}</ion-input>
                    
                        <ion-label color="lightblue">Description</ion-label>
                        <ion-input type="text" placeholder="" value={{this.value_purchase_desc}}  [(ngModel)]="purchase_desc">{{ this.value_purchase_desc}}</ion-input>
                    
                  </div>
            </ion-card-content>
          </ion-card>
  </ion-content>
  