page-home {

    #wrapper{
    
    height: 100%;
    
    display: flex;
    
    align-items: center;
    
    justify-content: center;
    
    }
    .larger {
        font-size: 50px;
        color: #f37321;
        max-width: 22% !important;
    }
    
    }