<!--
  Generated template for the ContactdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="lightblue">
    <ion-title>Contact Details</ion-title>
    <ion-buttons end>
      <button ion-button (click)="updatecontact()">
      Update
    </button>
    </ion-buttons>
  </ion-navbar>
    
</ion-header>


<!-- 


<ion-content padding>
  <ion-card color="lightblue">
    <ion-card-header>
      <h1 style="font-weight: bold;">{{this.value_contact_saln || uppercase}}.{{this.value_first_name}}</h1>
    </ion-card-header>
    
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <h3>Contact Type</h3>
          <h4 style="font-size: large;font-weight: bold;">{{this.value_contact_type}}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>
 
<ion-card>

    <div>

        <ion-row>
            <ion-col col-6>
                <button ion-button  block (click)="onButtonClick1()" color="lightblue">Overview</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button  block (click)="onButtonClick2()" color="lightblue">Recent Activity</button>
            </ion-col>
          </ion-row>
    </div>

    <ion-grid *ngIf="buttonClicked1">
        <ion-row>
          <ion-col col-6>
            <h3>Name</h3>
            <h4 style="font-size: large;font-weight: bold;" >{{this.value_contact_saln || uppercase}}.{{this.value_first_name}}</h4>
          </ion-col>
          <ion-col col-6>
              <h3>Company Name</h3>
              <h4 style="font-size: large;font-weight: bold;">{{this.value_company_name}}</h4>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                <ion-icon name="mail" style="color:grey; margin-top: 10px; font-size: 1.7em !important;margin-left: 12px;"></ion-icon>
            </ion-col>
            <ion-col col-9>
                <ion-input type="text" placeholder="Email" value={{this.value_email}} [(ngModel)]="email">{{this.value_email}} </ion-input>
            </ion-col>
            <ion-col col-3>
                <ion-icon name="call" style="color:grey; margin-top: 10px; font-size: 1.7em !important; margin-left: 12px;"></ion-icon>
              </ion-col>
              <ion-col col-9>
                  <ion-input type="text" placeholder="Phone" value={{this.value_phone}} [(ngModel)]="phone">{{this.value_phone}}</ion-input>
              </ion-col>
            
              <ion-col col-3 >
                  <ion-icon name="phone-portrait" style="color:grey; margin-top: 10px; font-size: 1.7em !important;margin-left: 12px;"></ion-icon>
                </ion-col>
                <ion-col col-9>
                    <ion-input type="text" placeholder="Mobile" value={{this.value_mobile}} [(ngModel)]="mobile">{{this.value_mobile}}</ion-input>
                </ion-col>
                
          </ion-row>
      </ion-grid>

      <ion-list *ngIf="buttonClicked2">
              <ion-item>
                  <h3 style="color: black">Contact Created</h3>
                  <p>{{this.value_company_name}}</p>
                  {{mydate | date: 'dd/MM/yyyy'}}
                </ion-item>
              
      </ion-list>
</ion-card>


   
</ion-content> -->


<ion-content padding class="my-class">

  <ion-card>
      <ion-card-header color="lightblue">
        Primary Contact
      </ion-card-header>
      <ion-card-content>
        <ion-item style="border-bottom: 0.3px solid">
              <ion-label color="lightblue">Saln.</ion-label>  
              <ion-select [(ngModel)]="gaming" interface="popover">
                  <ion-option value="dr">Dr.</ion-option>
                  <ion-option value="Mr">Mr.</ion-option>
                  <ion-option value="Mrs">Mrs.</ion-option>
                  <ion-option value="Miss">Miss.</ion-option>
                  <ion-option value="Ms">Ms.</ion-option>
                </ion-select>
              </ion-item>

            <ion-item style="border-bottom: 0.3px solid">
               
                <ion-input type="text" placeholder="First name" value={{this.value_first_name}} [(ngModel)]="firstname" name="username" >{{this.value_first_name}}</ion-input>
                
              </ion-item>
              
              <ion-item style="border-bottom: 0.3px solid">
                  
                <ion-input type="text" placeholder="Last name" value={{this.value_last_name}} [(ngModel)]="lastname">{{this.value_last_name}}</ion-input>
                </ion-item>
                <ion-item style="border-bottom: 0.3px solid">
                    
                    <ion-input type="text" placeholder="Company name" value={{this.value_company_name}} [(ngModel)]="companyname"><span class="required">*</span>{{this.value_company_name}}</ion-input>
                  </ion-item>
                 
                  <p style="color:red" *ngIf="companyname?.length > 15">
                    Maximum 15 Charcters
                  </p>
                  <p style="color:red" *ngIf="!companyname">
                    required
                  </p>
                  <ion-item style="border-bottom: 0.3px solid">
                      
                      <ion-input type="text" placeholder="Contact Display name" value={{this.value_display_name}} [(ngModel)]="contactdisplay">{{this.displayname}}</ion-input>
                    </ion-item>

                    <ion-item style="border-bottom: 0.3px solid">
                
                        <ion-input type="email" placeholder="Contact Email" [(ngModel)]="email" value={{this.value_email}} pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">{{this.value_email}}</ion-input>
                      </ion-item>
                      
                      <p style="color:red" *ngIf="!email">
                        required
                      </p>
                      <!-- <p style="color:red" *ngIf="!email?.pattern">
                        
                        Invalid pattern
                      </p> -->
                           <ion-row>
                          <ion-col>
                              <ion-item style="border-bottom: 0.3px solid">
                                  <ion-input type="number" placeholder="Work Phone."  value={{this.value_phone}} [(ngModel)]="phone">{{this.value_phone}}</ion-input>
                            </ion-item>
                            <p style="color:red" *ngIf="phone?.length > 11">
                              Max 11 digit Number
                            </p>
                            <p style="color:red" *ngIf="!phone">
                              required
                            </p>
                          </ion-col>
                          <ion-col>
                            <ion-item style="border-bottom: 0.3px solid">
                              <ion-input type="number" placeholder="Mobile"  value={{this.value_mobile}} [(ngModel)]="mobile">{{this.value_mobile}}</ion-input>
                            </ion-item>
                            <p style="color:red" *ngIf="mobile?.length == 15">
                              Max 15 digit Number
                            </p>
                            <p style="color:red" *ngIf="!mobile">
                              required
                            </p>

                          </ion-col>
                        </ion-row>
                       
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header color="lightblue">
          General Info<span class="required">*</span>
        </ion-card-header>
      <ion-card-content >
        
          <ion-item>
              <ion-label color="lightblue">Contact Type</ion-label>
          </ion-item>
               
                    <ion-row radio-group [(ngModel)]="sexe" >
                        <ion-col style="padding: 0px !important"> 
                          <ion-item style="border-bottom: 0.3px solid">
                            <ion-label>Customer</ion-label>
                            <ion-radio value="customer" item-left style="margin-right: 3%"></ion-radio>
                          </ion-item>
                        </ion-col>
                        <ion-col style="padding: 0px !important">
                          <ion-item style="border-bottom: 0.3px solid">
                           <ion-label>Vendor</ion-label>
                            <ion-radio value="vendor" item-left style="margin-right: 3%"></ion-radio>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      
      </ion-card-content>
    </ion-card>
       <ion-card>
        <ion-card-header color="lightblue">
            Address Info<span class="required">*</span>
          </ion-card-header>
        <ion-card-content >
        <ion-item>
          <ion-textarea clearOnEdit="true" placeholder="Billing Address" [(ngModel)]="billingaddress" style="border-bottom: 1px solid grey;">{{this.billingaddress}}</ion-textarea> 
          <p style="color:red" *ngIf="!billingaddress">
              required
            </p>
        </ion-item>
        
        <ion-item>
          <ion-textarea clearOnEdit="true" placeholder="Shipping Address" [(ngModel)]="shippingaddress" style="border-bottom: 1px solid grey;">{{this.shippingaddress}}</ion-textarea> 
          <p style="color:red" *ngIf="!shippingaddress">
              required
            </p>
        </ion-item>

        <ion-item>
            <!-- <ion-input type="text" placeholder="Remarks" [(ngModel)]="remarks"></ion-input> -->
            <ion-textarea clearOnEdit="true" placeholder="Remarks" [(ngModel)]="remarks" style="border-bottom: 1px solid grey;"></ion-textarea> 
        </ion-item>
        </ion-card-content>
      </ion-card>

</ion-content>