<ion-list class="itemslist">
    <ion-list-header no-lines no-padding>
      <button ion-item detail-none
              [style.background]="contentColor"
              (click)="toggleAccordion()"
              class="accordion-header"
              [class.active]="expanded">
          <ion-icon
            item-right
            name="ios-arrow-forward"
            class="ionicicons">
          </ion-icon>
          {{ title }}
      </button>
      <section #accordionContent
               [style.background]="contentColor"
               [class.active]="expanded"
               class="accordion-content">
        <ng-content></ng-content>
      </section>
    </ion-list-header>
  </ion-list>