<!--
  Generated template for the CreateItemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-toolbar color="lightblue">
      <ion-buttons left>
          <button ion-button icon-only menuToggle start>
              <ion-icon name="menu"></ion-icon>
            </button>
      </ion-buttons>
    <ion-title>New Item</ion-title>
    <ion-buttons end>
        <button ion-button (click)="createitem()">
        Save
      </button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content padding class="my-class">
  
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label color="lightblue">Type<span class="required">*</span></ion-label>
      </ion-item>

               
                      <ion-row radio-group [(ngModel)]="sexe">
                          <ion-col>
                            <ion-item style="border-bottom: 0.3px solid">
                              <ion-label>Goods</ion-label>
                              <ion-radio value="goods"></ion-radio>
                            </ion-item>
                          </ion-col>
                          <ion-col>
                            <ion-item style="border-bottom: 0.3px solid">
                             <ion-label>Services</ion-label>
                              <ion-radio value="services"></ion-radio>
                            </ion-item>
                          </ion-col>
                        </ion-row>

          <ion-item>
              <ion-label color="lightblue" >Item Name<span class="required">*</span></ion-label>
          </ion-item>
          <ion-item style="border-bottom: 0.3px solid">
              <ion-input type="text" placeholder=" Item Name" [(ngModel)]="name"></ion-input>
          </ion-item>

          <!-- <ion-item >
              <ion-label color="lightblue">Unit</ion-label>  
          </ion-item> -->

          <ion-item style="border-bottom: 0.3px solid">
            <ion-label color="lightblue">Units</ion-label>  
            <ion-select [(ngModel)]="units" interface="popover">
                <ion-option value="kg">KG</ion-option>
                <ion-option value="gram">Grams</ion-option>
                <ion-option value="packs">Packs</ion-option>
                <ion-option value="liter">Ltr</ion-option>
                <ion-option value="pieces">Pieces</ion-option>
                <ion-option value="other">Other</ion-option>
              </ion-select>
            </ion-item>
          <!-- <ion-item style="border-bottom: 0.3px solid">

              <ion-input type="text" [(ngModel)]="units" placeholder=" Units"></ion-input>
          </ion-item> -->
          <ion-item >
            <ion-label color="lightblue">Quantity<span class="required">*</span></ion-label>  
        </ion-item>
          <ion-item style="border-bottom: 0.3px solid">
            <ion-input type="number" [(ngModel)]="qty" placeholder="Quantity"></ion-input>
        </ion-item>
      </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-item>
              <ion-label>Sales Information</ion-label>  
              <!-- <ion-toggle [(ngModel)]="saleinformation"></ion-toggle> -->
          </ion-item>
            
          <!-- <div *ngIf="saleinformation"></div> -->
            <div>

              <ion-item>
                <ion-label color="lightblue">Selling Price<span class="required">*</span></ion-label>
            </ion-item>
                   
                    <ion-item style="border-bottom: 0.3px solid">
                        <ion-input type="number" placeholder="Enter Rate" [(ngModel)]="sale_rate"></ion-input>
                    </ion-item>
                    
                
                    <!-- <ion-label color="red">Account</ion-label>
                    <ion-item style="border-bottom: 0.3px solid">
                        <ion-input type="text" placeholder="Select Account" [(ngModel)]="sale_account"></ion-input>
                    </ion-item> -->
                    <!-- <ion-label color="lightblue">Tax</ion-label>
                    <ion-item style="border-bottom: 0.3px solid">
                        <ion-input type="number" placeholder="None" [(ngModel)]="sale_tax"></ion-input>
                    </ion-item> -->
                
                    <ion-item>
                      <ion-label color="lightblue">Description</ion-label>
                  </ion-item>
                    
                    <ion-item style="border-bottom: 0.3px solid">
                        <ion-input type="text" placeholder="Description" [(ngModel)]="sale_desc"></ion-input>
                    </ion-item>
                    
                
              </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-content>
            <ion-item >
                <ion-label>Purchase Information</ion-label>  
                <!-- <ion-toggle [(ngModel)]="purchaseinformation"></ion-toggle> -->
            </ion-item>
              
            <!-- <div *ngIf="purchaseinformation"></div> -->
              <div>

                  <ion-item>
                      <ion-label color="lightblue">Cost Per Item<span class="required">*</span></ion-label>
                  </ion-item>
                      
                      <ion-item style="border-bottom: 0.3px solid">
                          <ion-input type="number" placeholder="Enter Rate" [(ngModel)]="purchase_rate"></ion-input>
                      </ion-item>
                      
                      <!-- <ion-label color="red">Account</ion-label>
                      <ion-item style="border-bottom: 0.3px solid">
                          <ion-input type="text" placeholder="Select Account" [(ngModel)]="purchase_account"></ion-input>
                      </ion-item> -->
                      
                      <ion-item>
                          <ion-label color="lightblue">Description</ion-label>
                      </ion-item>
                      
                      <ion-item style="border-bottom: 0.3px solid">
                          <ion-input type="text" placeholder="Description" [(ngModel)]="purchase_desc"></ion-input>
                      </ion-item>
                      
                  
                </div>
          </ion-card-content>
        </ion-card>
</ion-content>
